@charset "UTF-8";

* {
    list-style: none;
    box-sizing: border-box; 
}



header{
    display: flex;
    height: 50px;
    margin-right: 19%;
    z-index: 20;
   	min-width:558px;
}

nav{
	display:flex;
	height: 75px;
	margin-right: 30%;
	padding-left: 40px;
	z-index: 20;
	min-width:558px;
}

nav div{
	display: flex;
	width:100%;
	height: 75px;
}

td img{
	width:100%
}

table th {
	background-color: cornflowerblue;
	color: white;
}

.nav{
    display: flex;
    margin-right: 20%;
    margin-top: 2%;
   	min-width:558px;
}

article{
display: flex;
flex-direction: column;
flex-wrap: wrap;
position: fixed;
top: 0;
left: 1;
right: 0;
border-left:1px solid black ;
min-width : 250px;
background-color : #fff;
z-index: 21;

height: 100%;
width: 30%;
}

section{
width:70%;
display: flex;
flex-direction: column;
z-index: 20;
min-width:558px;
}



.shop_Form {
	width:100%;
	min-width:558px;
}

.items {
	display:flex;
	min-width: 100px;
    width: 30%;
    margin: 5% 1%;
    height: 30%;
    text-align: center;
    background-color: #fff;
    float: left;
}


.item_price{
    margin-top: 1%;
}
.category{
    width: 15%;
    margin: 0 auto 0 0;
    height: 50px;
    text-align: center;
    background-color: cornflowerblue;
}
.category > p {
    color: white;
}

.right-menu{
    display: flex;
    flex-direction: column;
	flex-wrap: wrap;
    width: 100%;
    padding: 8% 0% 8% 0%;
}
.right-menu > .shopping_list {
    padding: 0% 10%;
}
.menubar{
	text-align: center;
}
.profilePhoto img {
	max-height:100px;
}

.userInfo{
    width : 100%;
}

.name,.point {
    text-align: center;
}

.P_info{
    padding-left : 10%
}
.B_or_N{
    display:flex;
    margin-top: auto;
    height:50px;
    justify-content : space-around;
}

.B_or_N > button {
    height:50%
}

a {
    text-decoration: none;
}    
    
.flip {
	flex:none;
    width: 100%;
    perspective: 2000px;
    margin: 2rem;
  }
  
.card {
    position: relative;
    right: 15%;
    display: flex;
    height: 200px;
    transition: 0.5s;
    transform-style: preserve-3d;
} 


.front, .back {
    position: absolute;
    width:100%;
    backface-visibility: hidden;
}
  
.front img {
    width: 80%;
    padding: auto;
  }
  
.back { 
    box-sizing: border-box;
    top: 100;
    width: 100%;
    transform: rotateY(180deg);
    }
  
.flip:hover .card {
    transform: rotateY(180deg);
  }
  
.item_list {
    width: 90%;
  }
.Shopping_Cart {
  	width: 100%;
  	text-align: center;
  }
.Cart_result{
  align-items:flex-end;
  }
  
#buy{
  width:100%;
  }
#empty_Money{
  border-top:1px;
  }

#Search{
	width:100%;
	font-size: 20px;
}

#SearchForm {
	width:85%;
	display:flex;
}

#submit {
	width:10%;
}

#update {
	border-color:white;
    background-color: cornflowerblue;
    color:white;
}

#cart{
	border: #d3d3d3 solid 1px;	
	padding: 5px;	/* 안쪽 여백 */
	width:100%;
	height:100%;
	border-collapse: collapse;
	font-size:15px;	
}
#cartImg{
	width:30%;
}