* {
  	margin: 0;
}

header, footer, nav, section {
	width: 1080px;	
}

nav {
  	background-color: green;
  	display: flex;
  	/* width: 100% */
  	/* max-width: 971px; */
}

ul, ol {
  list-style: none;
}

ul {
  display: block;
  padding-inline-start: 0px
}

a {
  text-decoration: none;
}

li {}

img {
  vertical-align: top;
}

.box__mytools {
  text-decoration: none;
  margin: 10px;
  font-size: 18px;
  color: #777;
}

#button__category-all {
  position: relative;
  display: block;
  width: 224px;
  font-size: 16px;
  height: 60px;
  line-height: 21px;
  font-weight: bold;
  color: #fff;
  text-align: left;
  background-color: #10af29;

  /*
  padding: 17px 0 20px px;
  letter-spacing: -1px;
  box-sizing: border-box; */
}

.box__topmenu {
}

.list__service-all{
  margin-top: 12px
}

.box__usermenu {
  /* display: inline-block; */
  /* margin-left: 50px; */
}

.list__usermenu {
  /* display: block; */
  text-align: right;
  margin-right: 50px;	/* 15px => 50px */
}

.list__category-all {}

.list__item {}

.list-item {
  display: inline-block;
  margin-left: 25px;
  margin-bottom: 10px;
  /* vertical-align: top; */
}
.list-item__1depth {
  width: 224px;
}

.link__service {
  display: block;
  font-size: 16px;
  color: #000;
  /* font-weight: 10; */
  letter-spacing: -1px;
  line-height: 32px;
}

.link__usermenu {
  display: block;
  font-size: 14px;
  color: #333;
  font-weight: bold;
  letter-spacing: -1px;
  line-height: 32px;
  margin-top: 12px;
}

.link__1depth-item {
  position: relative;
  display: block;
  height: 44px;
  font-size: 15px;
  letter-spacing: -1px;
  color: #000;
  text-indent: 24px;
  line-height: 42px;
  /* cursor: pointer; */
}

.box__best .box__item .link__item {
  color: black;
}

.box__best .box__item .link__item .box__image {
  width: 224px;
  height: 224px;
}

.box__best .box__item .link__item .box__image .image {
  display: block;
  width: 100%;
  height: 100%;
}

.box__best .box__item .link__item .box__information {
  font-size: 19px;
  font-weight: 700;
}

.box__best .box__item .link__item .box__information .text__name {
  margin-top: 10px;
  text-align: center;
  font-size: 14px;
  width: 224px;
  /* 글자간격 */
  letter-spacing: -0.4px;
  /* 요소의 최대 너비 */
  /* max-width: 100%; */
  /* 지정한 라인수보다 글자가 많으면 생략 */
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  /* 테두리를 포함한 크기를 지정 */
  /* box-sizing: border-box; */
  /* 내용이 넘치면 감추기 */
  overflow: hidden;
}

.box__today .box__item .link__item {
  color: black;
}

.box__today .box__item .link__item .box__image {
  width: 224px;
  height: 224px;
}

.box__today .box__item .link__item .box__image .image {
  display: block;
  width: 100%;
  height: 100%;
}

.box__today .box__item .link__item .box__information {
  font-size: 19px;
  font-weight: 700;
}

.box__today .box__item .link__item .box__information .text__name {
  margin-top: 10px;
  text-align: center;
  font-size: 14px;
  width: 224px;
  /* 글자간격 */
  letter-spacing: -0.4px;
  /* 요소의 최대 너비 */
  /* max-width: 100%; */
  /* 지정한 라인수보다 글자가 많으면 생략 */
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  /* 테두리를 포함한 크기를 지정 */
  /* box-sizing: border-box; */
  /* 내용이 넘치면 감추기 */
  overflow: hidden;
}

.main {
	
}